* {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
.text {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 50px;
}
.text > button {
    margin: 10px 600px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: medium;
}
